<a href="https://colab.research.google.com/github/VANITAS127/Sal-rio-na-rea-de-dados/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# @title
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

renomear = {'work_year': 'Ano',
'experience_level': 'Nível de experiência',
'employment_type': 'Tipo de emprego',
'job_title': 'Cargo',
'salary': 'Salário',
'salary_currency': 'Moeda',
'salary_in_usd': 'Salário em dólares americanos',
'employee_residence': 'Residência do funcionário',
'remote_ratio': 'remoto',
'company_location': 'Localização da empresa',
'company_size': 'Tamanho'}

df.rename(columns=renomear, inplace=True)

renomear_experiencia = {'SE' : 'sênior', 'MI' : 'pleno', 'EN' : 'junior', 'EX' : 'CIO'}
df['Nível de experiência'] = df['Nível de experiência'].replace(renomear_experiencia)

renomear_tamanho = {'M' : 'médio', 'L' : 'grande', 'S' : 'pequena'}
df['Tamanho'] = df['Tamanho'].replace(renomear_tamanho)

renomear_tempo = {'FT' : 'integral', 'CT' : 'por contrato', 'PT' : 'meio periodo', 'FL' : 'freelance' }
df['Tipo de emprego'] = df['Tipo de emprego'].replace(renomear_tempo)

df = df.dropna()
df.isnull().sum()
df_limpo = df.assign(Ano = df['Ano'].astype('int64') )
renomear_remoto = {100 : 'remoto', 50 : 'hibrido', 0 : 'presencial'}
df_limpo['remoto'] = df_limpo['remoto'].replace(renomear_remoto)

,Ano,Nível de experiência,Tipo de emprego,Cargo,Salário,Moeda,Salário em dólares americanos,Residência do funcionário,remoto,Localização da empresa,Tamanho
0,2025.0,sênior,integral,Solutions Engineer,214000,USD,214000,US,100,US,médio
1,2025.0,sênior,integral,Solutions Engineer,136000,USD,136000,US,100,US,médio
2,2025.0,pleno,integral,Data Engineer,158800,USD,158800,AU,0,AU,médio
3,2025.0,pleno,integral,Data Engineer,139200,USD,139200,AU,0,AU,médio
4,2025.0,junior,integral,Data Engineer,90000,USD,90000,US,0,US,médio